<form novalidate class="" >
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" class="form-control" ng-model="vm.asgn.name">
  </div>
  <div class="form-group">
    <label for="expectedDuration">Expected Duration (hours)</label>
    <input type="number" class="form-control" id="expectedDuration" ng-model="vm.asgn.expectedDuration">
  </div>
  <button class="btn btn-primary" ng-click="vm.create()">Create</button>
  <span class="glyphicon glyphicon-floppy-save" ng-show="vm.saving"></span>
</form>
